version: "3.8"

services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - db

  generator:
    build: ./generator
    depends_on:
      - api

  db:
  #iamgen de mysql 
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: datos
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

